# Virtual environment
venv/
.venv/

# Datasets / images
Datasets/
*.jpg
*.jpeg
*.png

# Model files (ignore all .h5 except our final model)
*.h5
!model/
!model/RiceHealthAnalysis_model.h5
!model/RiceHealthAnalysis_labels.txt

# Cache
__pycache__/
*.pyc

venv/
__pycache__/
*.pyc
.DS_Store