# Virtual environment
venv/
.venv/

# Datasets / images
Datasets/
*.jpg
*.jpeg
*.png

# Model files (optional if too large)
*.h5

# Cache
__pycache__/
*.pyc

venv/
__pycache__/
*.pyc
.DS_Store
# Allow the trained model to be pushed
!model/RiceHealthAnalysis_model.h5
!model/RiceHealthAnalysis_labels.txt